
.alerte-box {
    max-width: 50%;
    margin: auto;


}

.alerte-rouge {
    @extend .alerte-box;
    text-align: center;
    border: solid blue 3px;
    background-color: red;
    margin-bottom: 5px;
}

.alerte-verte {
    @extend .alerte-box;
    text-align: center;
    border: solid blue 3px;
    background-color: greenyellow;

}

.lorem {
    line-height: 50px;
}



