p {

    background-color: gray;
    border: solid green;
  }
 div :first-child{

    height: 100px;
    padding-inline: 20px;
    padding-top: 20px;
    margin-block: 0px;
  }
 div :first-child+p{

    width: 50%;
    padding-inline: 1.2em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  div :first-child+p+p{

    width: 200px;height: 200px;
   
    padding-top: -30px;
 margin: auto;
  }
body{
    margin: 0em;
    background-color: blueviolet;
}